{% extends 'base.html' %}

{% block body %}
     <form method='POST' action='/jump_out'> <input value='Прыгнуть в яму' type='SUBMIT'></p> </form>
     <form method='POST' action='/try-to-talk_escape'> <input value='Попытаться поговорить' type='SUBMIT'></p> </form>
     <form method='POST' action='/try-to-fight_escape'><input value='Сразиться' type='SUBMIT'></p> </form>
     <form method='POST' action='/run_out'><input value='Убежать' type='SUBMIT'></p> </form>
     <form method='POST' action='/nothing2_see2'><input value='Ничего' type='SUBMIT'></p> </form>
{% endblock %}
